appserver/deployment/schemas/src/main/resources/glassfish/lib/schemas/910/diagnostics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bea.com/ns/weblogic/90/diagnostics" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="wldf-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Specifies whether this notification is enabled.&lt;p&gt;
 (Interface=weblogic.diagnostics.descriptor.WLDFNotificationBean Attribute=isEnabled)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldfType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFBean
 (Interface=weblogic.diagnostics.descriptor.WLDFBean)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>The name of the WebLogic Diagnostic Framework (WLDF) bean.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wldfsmtp-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFSMTPNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFSMTPNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldf-notificationType">
        <xs:sequence>
          <xs:element name="mail-session-jndi-name" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>The JNDI name of the mail session. This name must match the
 attribute in the corresponding MailSessionMBean.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="subject" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The subject for the mail message. If the subject is not
 specified, a subject is created from the watch notification
 information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="body" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The body for the mail message. If the body is not specified, a 
 body is created from the watch notification information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="recipient" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The address of the recipient or recipients of the SMTP
 notification mail. The address uses the syntax defined in RFC822. 
 Typical address syntax is of the form
 &lt;code&gt;&lt;i&gt;user&lt;/i&gt;@&lt;i&gt;host&lt;/i&gt;.&lt;i&gt;domain&lt;/code&gt; or 
 &lt;code&gt;&lt;i&gt;Personal Name&lt;/i&gt;&lt;/code&gt;. 
 An address can include multiple recipients, separated by commas
 or spaces.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-watch-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFWatchNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFWatchNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>Specifies whether the Watch Notification component is enabled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="severity" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The default notification severity level for all watches. When a
 watch triggers, the severity level is delivered with the
 notification.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Info"/>
                <xs:enumeration value="Warning"/>
                <xs:enumeration value="Error"/>
                <xs:enumeration value="Notice"/>
                <xs:enumeration value="Critical"/>
                <xs:enumeration value="Alert"/>
                <xs:enumeration value="Emergency"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="log-watch-severity" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The threshold severity level of log messages evaluated
 by log watch rules. Messages with a lower severity than this value
 will be ignored and not evaluated against the watch
 rules.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Info"/>
                <xs:enumeration value="Warning"/>
                <xs:enumeration value="Error"/>
                <xs:enumeration value="Notice"/>
                <xs:enumeration value="Critical"/>
                <xs:enumeration value="Alert"/>
                <xs:enumeration value="Emergency"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="watch" maxOccurs="unbounded" type="diag:wldf-watchType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The watches defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="image-notification" maxOccurs="unbounded" type="diag:wldf-image-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The Image notifications defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="jms-notification" maxOccurs="unbounded" type="diag:wldfjms-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The JMS notifications defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="jmx-notification" maxOccurs="unbounded" type="diag:wldfjmx-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The JMX notifications defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="smtp-notification" maxOccurs="unbounded" type="diag:wldfsmtp-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The SMTP notifications defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="snmp-notification" maxOccurs="unbounded" type="diag:wldfsnmp-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The SNMP notifications defined in this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-watchType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFWatchBean
 (Interface=weblogic.diagnostics.descriptor.WLDFWatchBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>Specifies whether this watch is enabled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rule-type" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The rule-expression type for the watch:
 &lt;code&gt;HARVESTER_RULE_TYPE&lt;/code&gt; refers to harvested data,
 &lt;code&gt;LOG_RULE_TYPE&lt;/code&gt; refers to log entry data, and
 &lt;code&gt;EVENT_DATA_RULE_TYPE&lt;/code&gt; refers to instrumentation event
 data. The default type is &lt;code&gt;HARVESTER_RULE_TYPE&lt;/code&gt;.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Harvester"/>
                <xs:enumeration value="Log"/>
                <xs:enumeration value="EventData"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="rule-expression" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>The rule expression used to evaluate the watch.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="severity" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The severity level of the notifications sent when this watch
 evaluates to &lt;code&gt;true&lt;/code&gt;. When set, this level overrides
 the default value provided in the parent MBean. However, if no
 severity level is set (null), the value provided in the parent MBean
 is returned.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Info"/>
                <xs:enumeration value="Warning"/>
                <xs:enumeration value="Error"/>
                <xs:enumeration value="Notice"/>
                <xs:enumeration value="Critical"/>
                <xs:enumeration value="Alert"/>
                <xs:enumeration value="Emergency"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="alarm-type" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The alarm type for the watch: manual or automatic. The
 default alarm type is manual.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="None"/>
                <xs:enumeration value="ManualReset"/>
                <xs:enumeration value="AutomaticReset"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="alarm-reset-period" minOccurs="0" nillable="false" default="60000">
            <xs:annotation>
              <xs:documentation>For automatic alarms, the time period, in milliseconds, to
 wait after the watch evaluates to &lt;code&gt;true&lt;/code&gt; before the
 alarm is automatically reset.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="1000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="notification" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>(Interface=weblogic.diagnostics.descriptor.WLDFWatchBean Attribute=getNotificationsAsString)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-image-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFImageNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFImageNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldf-notificationType">
        <xs:sequence>
          <xs:element name="image-directory" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The directory where diagnostic images are stored.
 The default directory, relative to a server's root directory, is
 &lt;code&gt;./logs/diagnostic_images&lt;/code&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="image-lockout" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>The length of time, in minutes, during which no diagnostic
 images requests will be accepted; that is, the minimum amount of
 time between image capture requests.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldfjms-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFJMSNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFJMSNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldf-notificationType">
        <xs:sequence>
          <xs:element name="destination-jndi-name" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>The JNDI name of the JMS destination.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="connection-factory-jndi-name" minOccurs="0" nillable="false" default="weblogic.jms.ConnectionFactory">
            <xs:annotation>
              <xs:documentation>The JNDI name of the JMS connection factory. If a name has not
 been specified, the default JMS connection factory is used.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldfjmx-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFJMXNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFJMXNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldf-notificationType">
        <xs:sequence>
          <xs:element name="notification-type" type="xs:string" minOccurs="0" nillable="true" default="weblogic.diagnostics.watch.defaultNotificationType">
            <xs:annotation>
              <xs:documentation>The JMX notification type assigned to the resulting JMX
 notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldfsnmp-notificationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFSNMPNotificationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFSNMPNotificationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldf-notificationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-harvesterType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFHarvesterBean
 (Interface=weblogic.diagnostics.descriptor.WLDFHarvesterBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>Specifies whether the Harvester component is enabled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sample-period" minOccurs="0" nillable="false" default="300000">
            <xs:annotation>
              <xs:documentation>The interval, in milliseconds, between samples.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:minInclusive value="1000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="harvested-type" maxOccurs="unbounded" type="diag:wldf-harvested-typeType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The list of MBeans representing the harvested types.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-harvested-typeType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFHarvestedTypeBean
 (Interface=weblogic.diagnostics.descriptor.WLDFHarvestedTypeBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>Specifies whether this type is enabled. Note that enabling a
 type will have no effect unless the Harvester component is also
 enabled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="known-type" type="xs:boolean" minOccurs="0" nillable="false" default="false">
            <xs:annotation>
              <xs:documentation>Specifies whether this type is known at startup.  Normally,
 if a type is not available, the Harvester will keep looking for it.
 If a type is designated as "known", the Harvester issues a
 validation fault if the type cannot be immediately resolved.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="harvested-attribute" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The harvested attributes for this type. If a list of
 attributes is provided, only those attributes are
 harvested; otherwise all harvestable attributes are harvested.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="harvested-instance" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The harvested instances of this type.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-instrumentationType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFInstrumentationBean
 (Interface=weblogic.diagnostics.descriptor.WLDFInstrumentationBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>The state of the instrumentation behavior for the server or
 application. If &lt;code&gt;false&lt;/code&gt;, there will no weaving
 (inserting of diagnostic code) in the application or server code
 during class loading. In addition, if woven classes are already
 loaded, disabling instrumentation will disable all the monitors in
 this scope.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="include" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>Pattern expressions for classes that are included in this
 instrumentation scope. If specified, only included classes will be
 instrumented. If not specified, all classes loaded within the
 application and which are not explicitly excluded are eligible for
 instrumentation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="exclude" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>Pattern expressions for classes that will be excluded
 from this instrumentation scope. If specified, classes matching
 given patterns will not be instrumented.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="wldf-instrumentation-monitor" maxOccurs="unbounded" type="diag:wldf-instrumentation-monitorType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The diagnostic monitors defined in this instrumentation
 scope.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-instrumentation-monitorType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFInstrumentationMonitorBean
 (Interface=weblogic.diagnostics.descriptor.WLDFInstrumentationMonitorBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>Optional description of this monitor.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enabled" type="xs:boolean" minOccurs="0" nillable="false" default="true">
            <xs:annotation>
              <xs:documentation>Specifies whether the monitor and its associated diagnostics
 actions are enabled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dye-mask" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The dye mask for all diagnostic actions associated with this
 monitor.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dye-filtering-enabled" type="xs:boolean" minOccurs="0" nillable="false">
            <xs:annotation>
              <xs:documentation>Specifies whether dye filtering is enabled for the diagnostic
 actions associated with this monitor.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="properties" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>Properties for this monitor. Properties are name=value pairs,
 one pair per line. For example,
 &lt;code&gt;USER1=foo\nADDR1=127.0.0.1&lt;/code&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="action" maxOccurs="unbounded" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The diagnostic actions attached to this monitor. Actions are
 relevant only for delegating and custom monitors. Valid actions
 are: &lt;code&gt;TraceAction&lt;/code&gt;,
 &lt;code&gt;DisplayArgumentsAction&lt;/code&gt;,
 &lt;code&gt;StackDumpAction&lt;/code&gt;,
 &lt;code&gt;ThreadDumpAction&lt;/code&gt;, and
 &lt;code&gt;TraceElapsedTimeAction&lt;/code&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="location-type" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>Attached actions are applied at selected locations:
 &lt;code&gt;before&lt;/code&gt;, &lt;code&gt;after&lt;/code&gt;, or &lt;code&gt;around&lt;/code&gt;
 pointcuts. This is relevant only for custom monitors. (A location
 where diagnostic code is added is called a diagnostic
 joinpoint. A set of joinpoints, identified by an expression, is
 called a pointcut.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="before"/>
                <xs:enumeration value="after"/>
                <xs:enumeration value="around"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="pointcut" type="xs:string" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The pointcut expression for this monitor. (A location
 where diagnostic code is added is called a diagnostic
 joinpoint. A set of joinpoints, identified by an expression, is
 called a pointcut.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wldf-resourceType">
    <xs:annotation>
      <xs:documentation>Corresponds to WLDFResourceBean
 (Interface=weblogic.diagnostics.descriptor.WLDFResourceBean)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" base="diag:wldfType">
        <xs:sequence>
          <xs:element name="instrumentation" type="diag:wldf-instrumentationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The Diagnostic Instrumentation configuration for this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="harvester" type="diag:wldf-harvesterType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The Diagnostic Harvester configuration for this deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="watch-notification" type="diag:wldf-watch-notificationType" minOccurs="0" nillable="true">
            <xs:annotation>
              <xs:documentation>The Diagnostic Watch and Notification configuration for this
 deployment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:diag="http://www.bea.com/ns/weblogic/90/diagnostics" name="wldf-resource" type="diag:wldf-resourceType"/>
</xs:schema>
